.main_landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    padding: 10vh 12%; 
}

#left_index {
    flex: 1;
    padding: 0.8rem; 
}

#right_index {
    flex: 1;
    padding: 0.8rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right_index img {
    display: block;
    max-width: 100%;
    max-height: 70vh;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #aaa;
    
}

#left_index h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

#left_index h3 {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .main_landing {
        padding: 5vh 6%; /* Adjust padding for smaller screens */
    }

    #right_index img {
        max-height: 40vh; /* Further adjust max-height for smaller screens */
    }

    #left_index h1 {
        font-size: 1.8rem; /* Further adjust font size for smaller screens */
    }

    #left_index h3 {
        font-size: 1.1rem; /* Further adjust font size for smaller screens */
    }
}
