.resume_page {
  padding-top: 8vh; /* 20% reduction */
  max-width: 640px; /* 20% reduction */
  margin: 0 auto;
}

.resume_page section {
  margin-bottom: 32px; /* 20% reduction */
}

.resume_page h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

.resume_page p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2; /* 20% reduction */
}

.resume_page hr {
  border-top: 0.8px solid #ccc; /* 20% reduction */
}
