section {
    padding: 48px;
}

.about_page {
    padding-top: 8vh;
    max-width: 640px;
    margin: 0 auto;
}

.about_page h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.about_page h1 {
    font-size: 2.4em;
    margin-bottom: 24px;
}

.about_page h2 {
    padding-top: 2.4vh;
    font-size: 1.6em;
    margin: 32px 0 16px;
}

.about_page hr {
    border-top: 1px solid #ccc;
}

.about_page p, li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.28;
}

.about_page p {
    margin: 16px auto;
}

@media (max-width: 768px) {
    .about_page {
        padding-top: 10vh; /* Further adjust padding for smaller screens */
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .about_page h1 {
        font-size: 1.8em; /* Further adjust font size for smaller screens */
    }

    .about_page h2 {
        font-size: 1.2em; /* Further adjust font size for smaller screens */
        margin: 20px 0 10px; /* Further adjust margin for smaller screens */
    }

    .about_page hr {
        margin: 12px 0; /* Further adjust margin for smaller screens */
    }

    .about_page p, .about_page li {
        margin: 8px auto; /* Further adjust margin for smaller screens */
    }
}