/* CSS that affects the whole website */
body {
    background: #1F2029; /* dark gray blue */
    background: -webkit-linear-gradient(to bottom left, #1F2029, #38384E, #616189);
    background: linear-gradient(to bottom left, #1F2029, #38384E, #616189);
    margin: 0; /* Reset default margin to ensure full-width background */
    font-size: 16px; /* Set a base font size for better responsiveness */
    font-family: 'Open Sans', sans-serif;
}

.content {
    background: #fff;
    padding: 2rem; /* Use 'rem' units for better responsiveness */
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
}

h1, h2, h3 {
    color: #ddd; /* lighter dark gray */
    font-family: 'Raleway', sans-serif;
    margin: 0.5rem 0; /* Add some spacing to headings */
}

p {
    color: #ccc; /* light gray */
    margin: 1rem 0; /* Add some spacing to paragraphs */
}

li {
  color: #ccc; /* light gray */
  font-family: 'Open Sans', sans-serif; 
}

a {
    color: #69c; /* blue link color */
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #69c; /* Keep the same blue color for link hover */
}

button {
    background: #69c; /* blue button background */
    color: #fff; /* White text for better contrast */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4a8ac7; /* Darker shade for button hover */
}

/*
    || Navbar
*/

/* Navbar container */
.navBar {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background 0.3s ease, box-shadow 0.1s ease; /* Include box-shadow transition */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

/* Nav links */
.navBar ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navBar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: 0.3s;
}

/* Nav link hover */
.navBar a:hover {
    color: #69c;
}

/* Scroll effect */
.navBar.scrolled {
    background: rgba(31, 32, 41, 0.9); /* Slightly more opaque background */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* Increase shadow opacity */
}

.navBar.scrolled a {
    color: #fff;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .content {
        padding: 1rem;
    }
    .navBar {
        padding: 0.5rem 0;
    }
    .navBar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar a {
        margin: 0.25rem 0;
    }
}

/*
    || Footer
*/

footer {
    padding-top: 5vh !important;
    color: #fff;
    padding: 2rem;
    text-align: center;
}
  
.footer-links a {
color: #fff;
margin: 1rem;
}

/*
    || 404
*/

.jumbotron {
    padding-top: 5vh !important;
}