body {
    background: #1F2029;
    background: -webkit-linear-gradient(to bottom left, #1F2029, #38384E, #616189);
    background: linear-gradient(to bottom left, #1F2029, #38384E, #616189);
    margin: 0;
    font-size: 12.8px; 
    font-family: 'Open Sans', sans-serif;
}

.content {
    background: #fff;
    padding: 1.6rem; 
    border-radius: 12px; 
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08); 
}

h1, h2, h3 {
    color: #ddd;
    font-family: 'Raleway', sans-serif;
    margin: 0.4rem 0; 
}

p {
    color: #ccc;
    margin: 0.8rem 0; 
}

li {
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #69c;
    text-decoration: none;
    transition: 0.24s; 
}

a:hover {
    color: #69c;
}

button {
    background: #69c;
    color: #fff;
    border: none;
    padding: 0.4rem 0.8rem; 
    border-radius: 4px; 
    cursor: pointer;
    transition: 0.24s; 
}

button:hover {
    background: #4a8ac7;
}

/* navbar */

.navBar {
    padding: 0.8rem 0; 
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background 0.24s ease, box-shadow 0.08s ease; 
    z-index: 1000;
}

.navBar ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navBar a {
    color: #fff;
    text-decoration: none;
    padding: 0.4rem 0.8rem; 
    margin: 0 0.4rem; 
    transition: 0.24s; 
}

.navBar a:hover {
    color: #69c;
}

.navBar.scrolled {
    background: rgba(31, 32, 41, 0.72); /* 20% reduction in opacity */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); /* 20% reduction in shadow */
}

.navBar.scrolled a {
    color: #fff;
}

@media (max-width: 768px) {
    .content {
        padding: 0.8rem; 
    }
    .navBar {
        padding: 0.4rem 0; 
    }
    .navBar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar a {
        margin: 0.2rem 0; 
    }
}

/* footer */

footer {
    padding-top: 4vh !important; 
    color: #fff;
    padding: 1.6rem; 
    text-align: center;
}

.footer-links a {
    color: #fff;
    margin: 0.8rem; 
}

.jumbotron {
    padding-top: 4vh !important; 
}

/* 404 */

.jumbotron {
    padding-top: 5vh !important;
}

/* mobile improvement */

@media (max-width: 768px) {
    .content {
        padding: 1.2rem;
    }

    .navBar {
        padding: 0.75rem 0;
    }

    .navBar ul {
        flex-direction: row; /* Change to row for horizontal layout */
        flex-wrap: wrap;
        justify-content: center; /* Center the items horizontally */
    }

    .navBar a {
        padding: 0.4rem 0.8rem;
        font-size: 14px;
        margin: 0 0.2rem; /* Adjust margin for better spacing */
    }

    .jumbotron {
        padding-top: 3vh !important;
    }
}

