.resume_page {
  padding-top: 8vh; /* 20% reduction */
  max-width: 640px; /* 20% reduction */
  margin: 0 auto;
}

.resume_page section {
  margin-bottom: 32px; /* 20% reduction */
}

.resume_page h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

.resume_page p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2; /* 20% reduction */
}

.resume_page hr {
  border-top: 0.8px solid #ccc; /* 20% reduction */
}

@media (max-width: 768px) {
  .resume_page {
    padding-top: 10vh; /* Further adjust padding for smaller screens */
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .resume_page section {
    margin-bottom: 16px; /* Further adjust margin for smaller screens */
  }

  .resume_page p {
    line-height: 1.1; /* Further adjust line height for better readability */
  }

  .resume_page hr {
    margin: 12px 0; /* Further adjust margin for smaller screens */
  }
}