{% extends "base.html"%}

{% block content %}

<div class="about_page">
    <h1>About Me</h1>       
    <h2>Background</h2>
    <hr>
    <p> 
        Recent Computer Science graduate with hands-on experience in software development through academic projects and internships.
        Proficient in C/C++, Python, Java, and web technologies including HTML5, CSS, Flask, and MongoDB. Demonstrates strong
        problem-solving skills, quick learning ability, and a passion for developing innovative software solutions. Eager to contribute to
        dynamic projects and grow professionally in a collaborative environment. 
    </p>
    <h2>Experience</h2>
    <hr>
    <p> Baldwin County Public Schools 
        <p>Digital Resource Support Technician </p>
        <p>August 2024 - Present </p>
        <ul>
            <li>Manages and optimizes digital learning tools to enhance educational delivery. Troubleshoots technical issues</li>
            <li>Collaborates with colleagues to resolve complex problem</li>
            <li>Ensures seamless technology integration. Demonstrates strong communication and relationship building with staff and students. </li>
        </ul>
    </p>
    <hr>
    <p> Retail Strategies, AL, USA
        <p>Software Engineer</p>
        <p>January 2024 - April 2024</p>
        <ul>
            <li>Designed and developed a comprehensive database integrating data from RetailSphere and Sitewise</li>
            <li>Established a dynamic search and filtering system connecting the front-end website to the database backend.</li>
            <li>Implemented parameterized queries, enabling users to filter lot results by attributes such as price, size, location, and demographics.</li>
        </ul>
    </p>
    <hr>
    <p> Lowes Hoover, AL, USA
        <p>Receiver/Stocker</p>
        <p>January 2022 - August 2024</p>
        <ul>
            <li>Efficiently organized inventory using critical thinking and problem-solving skills to ensure order accuracy.</li>
            <li>Identified process improvements that enhanced team workflow and productivity.</li>
            <li>Provided technical guidance to resolve customer issues courteously.</li>
        </ul>
    </p>
    <h2>Skills</h2>
    <hr>
    <ul>
        <li> C/C++ </li>
        <li> Python </li>
        <li> JavaScript </li>
        <li> Racket </li>
        <li> HTML5 </li>
        <li> CSS </li>
        <li> SQLAlchemy </li>
        <li> Flask</li>
        <li> PyMongo/MongoDB </li>
        <li> RDS </li>
        <li> AWS </li>
    </ul> 
    <h2>Interests</h2>
    <hr>
    <p> 
        Some of my interests and hobbies include cars, volleyball, and gaming. My fascination with cars started early, thanks to my dad. 
        Growing up, I would watch him work on different vehicles in his shop, and over time, I developed an appreciation for them. 
        While I only know the basics of car mechanics, what really captivates me is their design and the creativity behind custom builds. 
        I admire the effort and artistry that go into making each car unique.
    </p>
    <p> 
        Another passion of mine is volleyball—specifically beach volleyball. 
        A few friends introduced me to it, and I’ve been hooked ever since. 
        There’s something about the combination of the sand, the sun, and the game that keeps me coming back. 
        I look forward to heading to the courts every week and spending hours playing and improving my skills.
    </p>
    <p> 
        Gaming has also been a long-time hobby of mine, which makes sense given my love for technology. 
        I enjoy exploring different genres, including MOBAs, MMOs, survival games, FPS, and racing. 
        Gaming allows me to connect with others, challenge myself, and immerse myself in diverse virtual worlds.
    </p>
    <h2>Goals</h2>
    <hr>
    <p> 
        Some of my goals include securing an internship or full-time position as a software developer, software engineer, or in a related role.
        I’m committed to continually expanding my knowledge by learning and experimenting with new programming languages, frameworks, and tools. 
        Additionally, I aim to complete and regularly enhance this portfolio to effectively showcase my projects, skills, and anything else I’m excited to share.
    </p>
</div>

{% endblock %}