{% extends "base.html"%}

{% block content %}

<div class="about_page">
    <h1>About Me</h1>
    <p> Hello, I'm Brady Phillips! I just finished getting my BS in Computer Science from the University of Alabama at Birmingham (UAB).
        Welcome to my personal portfolio website to display my projects, resume and anything else I wish to show the world.
    </p>        

    <h2>Background</h2>
    <hr>
    <p> Recent Computer Science graduate with hands-on experience in software development through academic projects and internships.
        Proficient in C/C++, Python, Java, and web technologies including HTML5, CSS, Flask, and MongoDB. Demonstrates strong
        problem-solving skills, quick learning ability, and a passion for developing innovative software solutions. Eager to contribute to
        dynamic projects and grow professionally in a collaborative environment.
        
    </p>

    <h2>Experience</h2>
    <hr>

    <p> Retail Strategies, AL, USA
        <p>Software Engineer</p>
        <p>January 2024 - April 2024<p>
        <ul>
            <li>Designed and developed a comprehensive database integrating data from RetailSphere and Sitewise</li>
            <li>Established a dynamic search and filtering system connecting the front-end website to the database backend.</li>
            <li>Implemented parameterized queries, enabling users to filter lot results by attributes such as price, size, location, and demographics.</li>
        </ul>
    </p>

    <hr>

    <p> Lowes Hoover, AL, USA
        <p>Receiver/Stocker</p>
        <p>January 2022 - Present<p>
        <ul>
            <li>Efficiently organized inventory using critical thinking and problem-solving skills to ensure order accuracy.</li>
            <li>Identified process improvements that enhanced team workflow and productivity.</li>
            <li>Provided technical guidance to resolve customer issues courteously.</li>
        </ul>
    </p>
    
    <h2>Skills</h2>
    <hr>
    <ul>
        <li> C/C++ </li>
        <li> Python </li>
        <li> JavaScript </li>
        <li> Racket </li>
        <li> HTML5 </li>
        <li> CSS </li>
        <li> SQLAlchemy </li>
        <li> Flask</li>
        <li> PyMongo/MongoDB </li>
        <li> RDS </li>
        <li> AWS </li>
    </ul> 

    <h2>Interests</h2>
    <hr>
    <p> Some of my interests/hobbies include cars, volleyball, and gaming. 
        Growing up I watched my dad work on different cars out in his shop, and over time I developed an interest in them. 
        Don't get me wrong though I only know the basics on how to work on them, I just admire how they look and things that people have done to their cars
    </p>

    <p> On top of cars, I have fallen in love with a new hobby, volleyball! Well, beach volleyball to be more exact. 
        A few of my friends introduced me to beach volleyball and I have been hooked ever since. 
        I find myself always looking forward to going to the courts each week and playing for hours.
    </p>

    <p> Another long-time hobby of mine has been gaming. 
        I guess it makes sense for me to be into gaming, with me being in love with technology. 
        I play all sorts of different games and genres. 
        Some of which include, MOBA, MMO, Survival, FPS, and Racing to name a few.
    </p>

    <h2>Goals</h2>
    <hr>
    <p> Some of my goals of mine include getting an internship or full-time job as a software developer, software engineer, or related role, 
        continually learning and experimenting with new languages, frameworks, and tools, 
        and finishing and continually adding to this portfolio so I can showcase my projects, skills, and anything else I wish to share.
    </p>
</div>

{% endblock %}