<head>
    <title>Personal Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <script src="/js/script.js"></script>
<body>
    <!-- navbar -->
    <nav class="navBar">
        <div>
            <ul>
                <li> </li>
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <!-- bottom banner -->
    <div class="bottom_banner">

    </div>

<!--script and css-->
<link rel="stylesheet" type="text/css" href="/css/master.css">
<script src="/js/script.js"></script>