{% extends "base.html" %}

{% block content %}

<div class="main_landing">
    <h1> Hi, I'm Brady! </h1>
    <h3> Welcome to my Personal Portfolio Website </h3>
    <h3> I am currently in my final year studying Computer Science at the University of Alabama at Birmingham (UAB). 
         I have a passion for using code to solve problems and build innovative solutions.
         In my free time, I enjoy learning about technology and cars, playing volleyball, and gaming.
    </h3>  
</div>

{% endblock %}