{% extends "base.html" %}

{% block content %}

<div class="main_landing">
    <div id="left_index">
        <h1> Hi, I'm Brady! </h1>
        <h3> Welcome to my Personal Portfolio Website </h3>
        <h3> I am currently working as a DRS of Board of Education doing IT work. 
            I have a passion for using code to solve problems and build innovative solutions.
            In my free time, I enjoy learning about technology, working on projects, cars, playing volleyball, and gaming.
        </h3> 
    </div>
    <div id="right_index">
        <img src="images/home_image.jpg">
    </div> 
</div>

{% endblock %}
