{% extends "base.html" %}

{% block content %}

<div class="main_landing">
    <div id="left_index">
        <h1> Hi, I'm Brady Phillips! </h1>
        <h3> Welcome to my Personal Portfolio Website </h3>
        <h3> I have recently graduated with a BS in Computer Science from the University of Alabama at Birmingham (UAB). 
            I have a passion for using code to solve problems and build innovative solutions.
            In my free time, I enjoy learning about technology, working on projects, cars, playing volleyball, and gaming.
        </h3> 
    </div>
    <div id="right_index">

    </div> 
</div>

{% endblock %}
