{% extends "base.html"%}

{% block content %}
<div class="project_title">
    <h1>Projects</h1>
</div>

<div class="projects_page">

    <!-- 

    <div class="project">
      <h3>Project 1 Title</h3>
      <p>Project 1 description...</p>
      <div class="btn-container">
        <a class="btn" href="https://project3url.com" target="_blank">Source <i class="fa fa-external-link"></i></a>
        <a class="btn" href="https://project3demo.com" target="_blank">Demo</a>
      </div>
    </div>
    
    -->

    <div class="project">
      <h3>Portfolio Website</h3>
      <p>This is my personal portfolio website to showcase previous projects, my resume etc.</p>
      <div class="btn-container">
        <a class="btn" href="https://github.com/Brady4080/Brady4080.github.io" target="_blank">Source <i class="fa fa-external-link"></i></a>
      </div>
    </div>

    <div class="project">
      <h3>Broken Moon</h3>
      <p>A Dark Mode Theme for Visual Studio Code</p>
      <div class="btn-container">
        <a class="btn" href="https://github.com/Brady4080/Broken-Moon" target="_blank">Source <i class="fa fa-external-link"></i></a>
        <a class="btn" href="https://marketplace.visualstudio.com/items?itemName=BradyPhillips.brokenmoon" target="_blank">VSMarket <i class="fa fa-external-link"></i></a>
      </div>
    </div> 

    <div class="project">
      <h3>Java Junction</h3>
      <p>Java Junction is a coffee shop website made with python and flask that also uses mongodb</p>
      <div class="btn-container">
        <a class="btn" href="https://github.com/Brady4080/Java-Junction" target="_blank">Source <i class="fa fa-external-link"></i></a>
      </div>
    </div>

    <div class="project">
      <h3>Python Text Editor</h3>
      <p>A side project to make a text editor in python</p>
      <div class="btn-container">
        <a class="btn" href="https://github.com/Brady4080/Python_Text_Editor" target="_blank">Source <i class="fa fa-external-link"></i></a>
      </div>
    </div> 
    
    <!-- More project divs -->
</div>

{% endblock %}