{% extends "base.html"%}

{% block content %}
<h1>Projects</h1>
<div class="projects_page">

    <!-- 

    <div class="project">
    
      <h3>Project 1 Title</h3>
      
      <p>Project 1 description...</p>
      
      <a class="btn" href="https://project1url.com" target="_blank">View Project</a>
    
    </div>
    
    -->

    <div class="project">
    
        <h3>Portfolio Website</h3>
        
        <p>This is my personal portfolio website to showcase previous projects, my resume etc.</p>
        
        <a class="btn" href="https://github.com/Brady4080/Brady4080.github.io" target="_blank">View Project</a>
      
    </div>

    <div class="project">
    
      <h3>Project 2 Title</h3>
      
      <p>Project 2 description...</p>
      
      <a class="btn" href="https://project2url.com" target="_blank">View Project</a>
    
    </div> 

    <div class="project">
    
        <h3>Project 3 Title</h3>
        
        <p>Project 3 description...</p>
        
        <a class="btn" href="https://project3url.com" target="_blank">View Project</a>
      
      </div> 
    
    <!-- More project divs -->
</div>

<div class="projects_page">

    <div class="project">
    
        <h3>Project 4 Title</h3>
        
        <p>Project 4 description...</p>
        
        <a class="btn" href="https://project2url.com" target="_blank">View Project</a>
      
    </div>

    <div class="project">
    
      <h3>Project 5 Title</h3>
      
      <p>Project 5 description...</p>
      
      <a class="btn" href="https://project2url.com" target="_blank">View Project</a>
    
    </div> 

    <div class="project">
    
        <h3>Project 6 Title</h3>
        
        <p>Project 6 description...</p>
        
        <a class="btn" href="https://project3url.com" target="_blank">View Project</a>
      
      </div> 
    
    <!-- More project divs -->
</div>

{% endblock %}