{% extends "base.html"%}

{% block content %}
<div class="resume_page">

    <div class="header">
      <h1>Brady Phillips</h1>
      <p>Computer science student eager to utilize expertise in C/C++, Python, JavaScript, Git, HTML5, CSS, PyMongo/MongoDB, Flask and other skills in a software engineering internship role. Offering strong programming skills, ability to learn quickly, and a passion for developing innovative software solutions. Seeking an opportunity to contribute to challenging projects and grow technical abilities in a professional environment.</p>
    
      <p>Hoover, AL 35216</p>
      <p>(251) 610-9266</p>
      <p>bradyp4080@gmail.com</p>
      
      <p>https://github.com/Brady4080</p>
      <p>https://www.linkedin.com/in/brady-phillips-9b6a60173/</p>  
    </div>
    
    <div class="education">
      <h2>Education</h2>
      <hr>
      <h3>University of Alabama at Birmingham (UAB), Birmingham, AL</h3>
      <ul>
        <li> Bachelor of Science in Computer Science, Expected Graduation Date: May 2024 </li>
      </ul>
    
      <h3>Coastal Alabama Community College, Bay Minette, AL</h3> 
      <ul>
        <li> Associate in science (AS) in Computer Science, August 2019 - August 2021 </li>
      </ul>
    
      <h3>Baldwin County High School, Bay Minette, AL</h3>
      <ul>
        <li> High School Diploma, August 2015 - May 2019 </li>
      </ul>
    </div>
    
    <div class="skills">
      <h2>Technical Skills</h2>
      <hr>
      <ul>
        <li>C/C++</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li> Racket </li>
        <li>Git</li>
        <li>HTML5</li>
        <li> SQLAlchemy </li>
        <li>CSS</li>
        <li>Racket</li>
        <li>Flask</li>
        <li>PyMongo/MongoDB</li> 
        <li> RDS </li>
        <li> AWS </li>
      </ul>
    </div>
    
    <div class="experience">
    
      <h2>Experience</h2>
      <hr>
      <h3>Lowe's Home Improvement - Hoover, AL</h3>
      <ul>
        <li> Receiver/Stocker, January 2022 to Present </li>
      </ul>
    
      <h3>Shoe Station Inc - Spanish Fort, AL</h3>
      <ul>
        <li> Sales Associate, August 2019 to August 2021 </li>
      </ul> 
    
      <h3>Wendy's - Spanish Fort, AL</h3>
      <ul>
        <li> Crew Member, April 2018 to April 2019 </li>
      </ul>
    
      <h2>Responsibilities</h2>
      <hr>
      <p>Leveraged customer service, sales, and inventory management skills through roles at Lowe’s, Shoe Station, and Wendy’s. Safely operated forklifts to efficiently move, lift, stack and store merchandise. Received, inspected, sorted, stocked and replenished merchandise while maintaining detailed inventory records. Followed proper protocols for safe product handling and movement. Provided excellent customer service by greeting customers, answering product questions, offering recommendations, and providing product expertise. Operated registers efficiently with accurate cash and credit card transactions. Maintained store appearance by keeping shelves, displays, cases, racks, aisles, and tables clean. Adapted quickly to shifting priorities and excelled in high-pressure, fast-paced environments. Collaborated cross-functionally to ensure tasks and daily goals were achieved. Eager to apply these skills and experiences in a new role.</p>
      
    </div>
    
    
    <h2>View PDF Version</h2>
    <hr>
    <p>
        <a href="/js/Resume.pdf" target="_blank">View Resume PDF</a> 
    </p>

</div>
{% endblock %}